.chart-division-line {
    stroke: lightgrey;
}

.chart-ribbon {
    fill: lightblue;
    fill-opacity: 0.5
}

.chart-candle-line {
    stroke: black;
}

.chart-candle-up {
    fill: red;
    stroke: black;
}

.chart-candle-down {
    fill: lime;
    stroke: black;
}
